<div class="content" role="main">
  <ng-container *ngIf="dsdsSent; then finalView; else flowView">
  </ng-container>

  <ng-template #finalView>
    <div class="row">
      <div>
          <img src="../assets/images/enveloppe.jpg" alt="envoi demande" style="margin-left:2pc;height: 50px;width: 80px;">
      </div>
      <div style="margin-left: 20px;">
          <a class="boldTitle">Votre demande de suivi pour {{ currPorteur.nom}} {{currPorteur.prenom}} a bien été créée.</a>
       </div>
    </div>
    <a class="part">Détail de la demande: {{ currPorteur.nom | uppercase }} {{currPorteur.prenom}} </a>
    <p>Établissement: HIA Percy (Radiologie)[6101] </p>
    <p>Code emploi: {{ currDSDS.code}} </p>
    <p>Groupe: {{ currDSDS.donneesEtab}} </p>
    <p>Suivi: {{ currDSDS.surveillance}} </p>
    <p>Date: {{ currDSDS.debSuivi}}<a *ngIf="currDSDS.finSuivi != ''"> - {{ currDSDS.finSuivi }} </a></p>
    <p>Catégorie:  {{ currDSDS.categorie }} </p>
    <p>Port: 
      <a *ngFor="let p of currDSDS.port">
      {{ p.type }}</a> 
    </p>
    <p>Exposition: <a *ngFor="let exp of currDSDS.expo">
      {{ exp.ray }}</a>
    </p>
    <div>
      <input class="btn btn-light" type="button" value="Générer le PDF" (click)="downloadPdf()">
    </div>
  </ng-template>

  <ng-template #flowView>
    <label>Établissement: HIA Percy (Radiologie)[6101]</label><br>
    <label>PCR: PM Jean Dujardin</label>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span [ngStyle]="{'color':'black'}">1. Porteur</span></ng-template>

        <ng-container *ngIf="isPorteurSearch; then searchView; else createView">
        </ng-container>
  
        <ng-template #searchView>
          <div class="form-group row">
            <label class="colorTxt">Nom: </label> <input (input)="findPorteurs($event.target.value)" class="form-control w-25" type="text" placeholder="Recherche">
          </div>
          <div *ngIf="porteursFound?.length > 0">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">INSEE</th>
                <th scope="col">Établissement(code)</th>
                <th scope="col">Début suivi</th>
                <th scope="col">Fin suivi</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let porteur of porteursFound">
                <td>{{ porteur.nom }}</td>
                <td>{{ porteur.prenom }}</td>
                <td>{{ porteur.insee }}</td>
                <td>{{ porteur.etab }}</td>
                <td>{{ porteur.debSuivi }}</td>
                <td>{{ porteur.finSuivi }}</td>
                <td> <input type="radio" name="radioPorteur" (change)="handleChange(porteur.nom,porteur.prenom, porteur.insee, porteur.etab, porteur.debSuivi, porteur.finSuivi,porteur.datNaiss, porteur.villNaiss)"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="condition">
              <div class="row float-right">
                <p id="messageInfo"><b>{{ message }}</b></p>
                <ng-container *ngIf="message.length > 0; then porteurCreaView; else dsdsCreaView">
                </ng-container>
                <ng-template #porteurCreaView>
                  <div> 
                      <input class="btn btn-primary btnMargin" type="button" (click)="creaPorteurView()" value="Créer"> 
                  </div>
                </ng-template>
                <ng-template #dsdsCreaView>
                <div> 
                    <input class="btn btn-primary btnMargin" type="button" (click)="creaDemandeDSDSView()" value="Suivant">
                </div>
              </ng-template>
              </div>
          </div>
        </ng-template>
        
        <ng-template #createView>
          <form (ngSubmit)="onSubmit(creaForm.value)" #creaForm="ngForm">
          <label class="italicTitle">Tous les champs sont obligatoires</label><br>
          <label class="boldTitle">Nouveau porteur :</label>
          <div class="divMarginLeft">
            <label class="checkbox-inline marginCk">
                <input name="ckporteurType" type="radio" [(ngModel)]="ckporteurType" value="Civil" required (click)="initErrorCtrl()"> Civil
              </label>
            <label class="checkbox-inline marginCk">
              <input name="ckporteurType" type="radio" [(ngModel)]="ckporteurType" value="Militaire" (click)="initErrorCtrl()"> Militaire
            </label>
          </div>
          <div *ngIf="typValid == false">
            <label class="errorValid">Le type de porteur doit être renseigné</label>
         </div>
          <div>
            <label>Nom de naissance: </label> 
            <input class="form-control w-25" [(ngModel)]="nom" name="nom"  type="text" (click)="initErrorCtrl()">
          </div>
          <div *ngIf="nomValid == false">
                <label class="errorValid">Le nom doit être renseigné</label>
          </div>
          <div>
            <label>Nom d'usage: </label> 
            <input  class="form-control w-25" [(ngModel)]="usNomPorteur"  name="usNomPorteur" type="text" (click)="initErrorCtrl()">
          </div>
          <div *ngIf="usNomValid == false">
            <label class="errorValid">Le nom d'usage doit être renseigné</label>
         </div>
          <div>
            <label>Prenom: </label> 
            <input class="form-control w-25" [(ngModel)]="prenom" name="prenom" type="text" (click)="initErrorCtrl()">
          </div>
          <div *ngIf="prenomValid == false">
            <label class="errorValid">Le prenom doit être renseigné</label>
         </div>
          <label>Nationalité :</label>
          <div class="divMarginLeft">
            <label class="checkbox-inline marginCk">
              <input name="ckporteurNat" [(ngModel)]="ckporteurNat" (change)="handleNationalite('france')" type="radio" value="france" (click)="initErrorCtrl()"> Française
            </label>
            <label class="checkbox-inline marginCk">
              <input name="ckporteurNat"  [(ngModel)]="ckporteurNat" (change)="handleNationalite('etranger')" type="radio" value="etranger" (click)="initErrorCtrl()"> Étrangère
            </label>
          </div>
          <div *ngIf="natValid == false">
            <label class="errorValid">La nationalité doit être renseignée</label>
         </div>
          <div *ngIf="etranger == false">
            <label>N°SS/INSEE/RNPP: </label> 
              <div class="row no-marginLR">
                <div><input class="form-control" type="text" name="ssNum" [(ngModel)]="ssNum" placeholder="INSEE" required (click)="initErrorCtrl()">
                </div>
                <div>
                  <input class="form-control cleWidth" id="ssCle" name="ssCle" [(ngModel)]="ssCle" placeholder="CLE" type="text" required (click)="initErrorCtrl()">
                </div>
              </div>
          </div>
          <div *ngIf="inseeValid == false">
            <label class="errorValid">Le numéro complet doit-être renseigné</label>
         </div>
        <label for="datNaissPorteur">Date de naissance:    </label>
              <div>
                <input class="form-control w-25" id="datNaissPorteur" name="datNaissPorteur" [(ngModel)]="datNaissPorteur" type="text" required (click)="initErrorCtrl()" placeholder="JJ/MM/AAAA">
              </div>
              <div *ngIf="naissValid == false">
                <label class="errorValid">La date de naissance doit-être renseignée au format correct</label>
             </div>
        <div *ngIf="etranger == false">
        <label for="comNaissPorteur">Commune de naissance:    </label>
              <div>
                  <input class="form-control w-25" id="comNaissPorteur" name="comNaissPorteur" [(ngModel)]="comNaissPorteur" type="text" required (click)="initErrorCtrl()">
              </div>
                  <div *ngIf="comValid == false">
                    <label class="errorValid">La commune de naissance doit-être renseignée</label>
                </div>
              </div>
              <div class="row" style="float:right;">
                <div style="margin-right: 20px;">
                  <input class="btn btn-light" type="button" (click)="backToSearch()" value="Annuler">
                </div>
                <div>
                  <input class="btn btn-primary" type="submit" value="Suivant">
                </div>
              </div>
          </form>
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><span [ngStyle]="{'color':'black'}">2. Demande</span></ng-template>
          <form  (ngSubmit)="saveDemandeDSDS(dsdsForm.value)" #dsdsForm="ngForm">
            <div>
              <label class="italicTitle">Tous les champs sont obligatoires</label><br>
              <label class="boldTitle">Demande individuelle </label> 
              <br>
              <br>
                <div class="divMarginLeft">
                  <label>{{ currPorteur.nom | uppercase }} {{ currPorteur.prenom }} né(e) le {{currPorteur.datNaiss}} à {{currPorteur.villNaiss}}</label> 
                  <br>
                  <br>
                  <div class="form-group row">
                    <label>Code emploi: </label> 
                    <input class="form-control w-25" [(ngModel)]="code" name="code" type="text" list=listCodes (click)="initErrorCtrl()">
                    <datalist id=listCodes>
                      <option *ngFor="let c of codes" value="{{c.code}}">{{c.code}}</option>
                    </datalist>
                  </div>
                  </div>
                      <div *ngIf="codeValid == false">
                        <label class="errorValid">Le code doit-être renseigné</label>
                    </div>
                  <br>
                  <div class="divMarginLeft">
                      <label>Catégorie:</label>
                      <div class="checkbox-group required">
                          <label class="checkbox-inline marginCk">
                            <input type="radio" [(ngModel)]="cat" name="cat" value="A" required (click)="initErrorCtrl()"> A
                          </label>
                          <label class="checkbox-inline marginCk">
                            <input type="radio" [(ngModel)]="cat" name="cat" value="B" (click)="initErrorCtrl()"> B
                          </label>
                          <label class="checkbox-inline marginCk" (click)="initErrorCtrl()">
                            <input type="radio" [(ngModel)]="cat" name="cat" value="Non categorise"> Non catégorisé
                          </label>
                      </div>
                      <div *ngIf="catValid == false">
                        <label class="errorValid">La catégorie doit-être renseignée</label>
                    </div>
                 </div>
                  <br>
                  <div class="divMarginLeft">
                    <label>Port: </label>
                    <div class="checkbox-group required">
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="portDE" name="portDE" value="Poitrine(DE)" (click)="initErrorCtrl()"> Poitrine(DE)
                        </label>
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="portEXT" name="portEXT" value="Poignet(EXT)" (click)="initErrorCtrl()"> Poignet(EXT)
                        </label>
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="portBAG" name="portBAG" value="Bague(BAG)" (click)="initErrorCtrl()"> Bague(BAG)
                        </label>
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="portCRI" name="portCRI" value="Cristallin(CRI)" (click)="initErrorCtrl()"> Cristallin(CRI)
                        </label>
                    </div>
                    <div *ngIf="portValid == false">
                      <label class="errorValid">Le port doit-être renseigné</label>
                  </div>
                 </div>
                  <br>
                  <div class="divMarginLeft">
                    <label>Exposition: </label> 
                    <div class="checkbox-group required">
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="expoY" name="expoY" value="Y" (click)="initErrorCtrl()"> Y
                        </label>
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="expoX" name="expoX" value="X" (click)="initErrorCtrl()"> X
                        </label>
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="expoB" name="expoB" value="B" (click)="initErrorCtrl()"> B
                        </label>
                        <label class="checkbox-inline marginCk">
                          <input type="checkbox" [(ngModel)]="expoN" name="expoN" value="Neutrons" (click)="initErrorCtrl()"> Neutrons
                        </label>
                    </div>
                    <div *ngIf="expoValid == false">
                      <label class="errorValid">Le port doit-être renseigné</label>
                  </div>
                </div>
              </div>
              <br>
              <label class="boldTitle">Données établissement: </label><br>
              <div class="divMarginLeft">
                <div class="form-group row">
                    <label>Groupe: </label> 
                    <input class="form-control w-25" [(ngModel)]="donneesEtab" name="donneesEtab" type="text" list=listRef (click)="initErrorCtrl()">
                    <datalist id=listRef>
                      <option *ngFor="let g of groupes" value="{{g.libRef}}">{{g.libRef}}</option>
                    </datalist>
                  </div>
                <div *ngIf="donneeValid == false">
                  <label class="errorValid">Les données établissement doivent-être renseignées</label>
              </div>
              </div>
              <br>
              <label class="boldTitle">Surveillance souhaitée :</label>
              <div class="divMarginLeft">
                <label class="checkbox-inline marginCk">
                  <input name="ckWatch" type="radio" [(ngModel)]="surveillance" name="surveillance" value="Mensuelle" required (click)="initErrorCtrl()"> Mensuelle
                </label>
                <label class="checkbox-inline marginCk">
                  <input name="ckWatch" type="radio" [(ngModel)]="surveillance" name="surveillance" value="Trimestrielle" (click)="initErrorCtrl()"> Trimestrielle
                </label>
                <div *ngIf="surValid == false">
                  <label class="errorValid">La surveillance doit-être renseignée</label>
              </div>
              </div>
              <br>
                <div class="divMarginLeft">
                  <div class="row">
                    <div class="row">
                      <label for="debSuivi">Date de début:</label>
                      <div><input class="form-control" id="debSuivi" [(ngModel)]="debSuivi" name="debSuivi" type="date" required (click)="initErrorCtrl()"></div><div><img class="calendarIcon" src="../assets/images/calendar.jpg" alt="calendier fin suivi"></div>
                    </div>
                    <div class="col-md-auto">
                    </div>
                    <label for="finSuivi" style="font-style:italic;display: inline-block;width:100px">Date de fin: Optionnelle    </label>
                    <div class="row">
                      <div><input class="form-control" [(ngModel)]="finSuivi" id="finSuivi" name="finSuivi" type="date" (click)="initErrorCtrl()"></div><div><img class="calendarIcon" src="../assets/images/calendar.jpg" alt="calendier fin suivi"></div>
                    </div>
                  </div>
                  <div *ngIf="datValid == false">
                    <label class="errorValid">La date de début de suivi doit-être renseignée</label>
                </div>
              </div>
            <br>
          <div class="row" style="float:right;">
            <div style="margin-right: 20px;">
              <input class="btn btn-light" type="button" (click)=backToSearchView() value="Annuler">
            </div>
            <div>
              <input class="btn btn-primary" type="submit" value="Créer">
            </div>
        </div>
        </form>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
 </ng-template>
</div>
<router-outlet></router-outlet>