/* You can add global styles to this file, and also import other style files */
.topnav {
    overflow: hidden;
    background-color:  #9ea6c2;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #9ea6c2;
    color: white;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color:rgb(136, 136, 219) !important;
    color: rgb(136, 136, 219) !important;
}

.mat-step-header {
  width:200px;
}

.mat-stepper-horizontal {
  background-color: white;
  margin-top: 8px;
}

.mat-horizontal-stepper-header-container {
  width:20pc;
}

.checkboxes {
  text-align:center;
 }

.checkboxes input{
  margin: 0px 0px 0px 0px;
 }

 .checkboxes label{
   margin: 0px 80px 0px 3px;
 }

 input[type=text]:not(#ssCle){
  min-width: 250px;
}

.no-marginLR {
  margin-left:0;
  margin-right:0;
}

.calendarIcon{
  margin-left: 1pc;
  height: 35px;
  width: 40px;
}

.btnMargin{
margin-left: 1pc;
}